<div class="website_format">
    <div class="header">
        Golden Portfolios
    </div>
    <div class="textcontent">
        We strive to be the best way for employees or entrepreneurs to have a place for customer or employers to
        understand
        the real you ,and stop being
        just another resume in a pile.Golden portfolios will take on all of customers and give the best possible service
        than we can not just the portfolio
        ,but in the whole process.
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-lg-5 col-md-12" style="background-image:'../../assets/photo3.jpg'">
            <div class="header2">
                Values
            </div>
            <div class="textcontent" style="width: 100%; margin: auto;">
                <ul>
                    <li>Provide value: Always find a way to provide value</li>
                    <li>Quality: Deliver quality over quantity</li>
                    <li>Integrity: Do the right thing</li>
                    <li>Evolve: Strive for perfection through constant changes</li>
                    <li>Respect: Treat everyone with the utmost respect</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2  d-none d-lg-block" style=" margin:auto;">
            <div class="fa fa-long-arrow-right arrow1" aria-hidden="true">&rarr;</div>
        </div>

        <div class="col-lg-5 col-md-12" style="margin: auto;">

            <div class="header2">
                Mission Statement
            </div>
            <div class="textcontent">
                Providing great portfolios to make the little guy matter again.
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-5 d-none d-lg-block" style="margin: auto;">

            <div class="fa fa-long-arrow-right arrow2" aria-hidden="true">&rarr;</div>
        </div>

        <div class="col-lg-5 d-none d-lg-block" style="margin: auto;">

            <div class="fa fa-long-arrow-right arrow3" aria-hidden="true">&rarr;</div>
        </div>
    </div>
    <div class="row " style="padding: 0%;">
        <div class="col-12" style="padding: 0%;">
            <div class="header2" style="padding: 0%;">
                Vision
            </div>
            <div class="textcontent">
                Empower employees and small entrepreneurs to pass their goals.
            </div>
        </div>
    </div>

</div>