<div class="website_format">
    <div class="header">
        Contact
    </div>
    <div class="textcontent">
        There is few ways to contact us here at Golden Portfolios
    </div>
    <div class="textcontent">
        Phone: 256-452-5192
    </div>
    <div class="textcontent">
        Email: Ronald.Williamson@goldenportfolios.com
    </div>
    <div class="textcontent">
        You can also reach out to use on any of our social medias 
    </div>
    <div class="textcontent">
        We can't wait to hear from you.
    </div>
</div>