<nav class="navbar navbar-expand-md  navbar-dark bg-dark w-100">
    <ul class="navbar-nav d-flex  justify-content-between">
        <li class="nav-item">
            <img src="../../assets/Logo.png" alt="LOGO" width="120px" height="40px"> 
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav hamburgerText">
            <ul class="navbar-nav d-flex w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pricing">Pricing</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/examples">Examples</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/team">Team</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <ul class="navbar-nav d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>