<div class="website_format">
    <div class="header">
        Pricing
    </div>
    <div class="textcontent">

    </div>
    <br>                                                                   
    <div class="container-fluid">
        <div class="container ">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card1 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title" style="border-bottom: solid;width: 70%;margin: auto;margin-bottom: 2%;">Standard</h5>
      
                  <span class="h2">$150</span>
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block">Select</button>
                  </div>
                  <ul>
                    <li>Front page</li>
                    <li>Resume page</li>
                    <li>Contact page</li>
                    <li>Max 4 photos upload</li>
                    <li>Golden Portifilos web hosting</li>
                  </ul>
                </div>
    
                
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card2 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title" style="border-bottom: solid;width: 70%;margin: auto;margin-bottom: 2%;">Premium</h5>
 
                  <span class="h2" >$200</span>
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block">Select</button>
                  </div>
                  <ul>
                    <li>Front page</li>
                    <li>Resume page</li>
                    <li>Contact page</li>
                    <li>Max 8 photos upload</li>
                    <li>1 custom page</li>
                    <li>Golden Portifilos web hosting</li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card3 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title" style="border-bottom: solid;width: 70%;margin: auto;margin-bottom: 2%;">Gold</h5>
                  <span class="h2">$250</span>
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block">Select</button>
                  </div>
                  <ul>
                    <li>Front page</li>
                    <li>Resume page</li>
                    <li>Contact page</li>
                    <li>Choice of 3 styles or custom style</li>
                    <li>Max 20 photos upload</li>
                    <li>2 custom page</li>
                    <li>Golden Portifilos web hosting</li>
                  </ul>
                </div>
    
                
              </div>
            </div>
          </div>    
        </div>
        <!-- <div class="header">  <img src="../../assets/Logo.png" alt="LOGO" width="120px" height="50px"> 
            Feature Details
        </div>
        <div class="textcontent">
            To use the response.raw file-like object will not, by default, decode compressed responses (with GZIP or
            deflate). You can force it to decompress for you anyway by setting the decode_content attribute to True
            (requests sets it to False to control decoding itself). You can then use shutil.copyfileobj() to have Python
            stream the data to a file object:
        </div> -->
</div>