.btn-xl {
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 35px;
    width:20%;
    min-width:100px;
}
.hightlight:hover{
    opacity: .5;
}
h4{
    font-weight: bold;
    width: 60%;
    margin: auto;
}