<div class="website_format">
    <div class="header">
        Golden Portfolios
    </div>
    <div class="textcontent">
        We make you a custom portfolio at a competitive price. Just sign up and have a call with
        one of our portfolio experts. We will send you a rough draft ,then we will host your portfolio on your domain.
    </div>
    <br>
    <div class="header">
        Why Us
    </div>
    <div class="textcontent">
        We strive to be the best way for employees or entrepreneurs to have a place for customer or employers to
        understand
        the real you ,and stop being
        just another resume in a pile.Golden portfolios will take on all of customers and give the best possible service
        than we can not just the portfolio
        ,but in the whole process.
    </div>
    <br>
    <a routerLink="/pricing" class="btn btn-primary btn-xl active hightlight" role="button" aria-pressed="true">
        Pricing
    </a>
    <br>
    <div class="header">
        Process
    </div>

    <h4>
        Step 1: Sign up
    </h4>
    <div class="textcontent">
        Fill out forms needs and schedule and call.
    </div><br>
    <h4>
        Step 2: First call
    </h4>
    <div class="textcontent">
        The first call is just a way for us to get understanding information needed and what styling you would like.
    </div><br>
    <h4>
        Step 3: Accept rough draft
    </h4>
    <div class="textcontent">
        We will review a rough draft and once the rough draft has all the issues worked on then will start work on the final product.
    </div><br>
    <h4>
        Step 4: product review and hosting info call
    </h4>
    <div class="textcontent">
        Here we make sure everything is the way you wanted it and talk about domain name for you portfolios
    </div><br>
    <h4>
        Step 5: Get the portfolio hosted on your domain
    </h4>
    <div class="textcontent">
        At this point just put you domain in and see your amazing portfolio
    </div>
</div>